/******************
*ESTILOS GENERALES*
*******************/

html, body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    /* overflow-x: hidden; */
}
/*Variables de css*/
:root {
    /*Colores*/
    --white-color:#FFFFFF;
    --gray-color:#EEEEEE;
    --dark-color: #313337;
    --black-color: #000000;
    --green-color: hsl(140, 64%, 49%);
    --green-dark-color:  hsl(140, 80%, 34%);
/*Estilos de fuente*/
    --title: bold 30px 'Open Sans', sans-serif;
    --subtitle-17: bold 17px 'Open Sans', sans-serif;
    --description-12: normal 12px 'Open Sans', sans-serif;
    /*Espaciado*/
    --space: 10px;
    /*Sombra*/
    --box: 0 0 1px #c1bcbc;
}

#main-section,#features, #mentions {
    max-width: 1000px;
    margin: 0 auto;
}

/******************
*ESTILOS MENU*
*******************/
#menu {
    box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
    height: 60px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--green-color);
    padding: var(--space);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu ol {
    list-style: none;
    display: flex;
}

#menu ol a {
    padding-left: 20px;
    color: var(--dark-color);
    font: var(--description-12);
    text-decoration: none;
}

#menu ol a:hover  {
    color:var(--white-color);
}

#main-section {
    box-sizing: border-box;
    height: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 16px;
}

#main-section .title {
    font: var(--title);
    color: var(--dark-color);
    text-align: center;
}

/******************
*ESTILOS PRODUCTOS*
*******************/

#products { 
    display: grid;
    grid-template-columns: repeat(2, 240px);
    justify-content: center;
    grid-gap: 16px;
    padding: 16px;
    height: 350px;
    box-sizing: border-box;
    background-image: url("../img/curve.png");
    background-size: cover;
    background-position: center top;
}

.product {
    box-sizing: border-box;
    margin-top: -40%;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
    border-radius: 2px;
    background: var(--white-color);
    padding: 10px;
    height: 300px;
}

.product-title {
    margin: 10px 0;
    color: var(--dark-color);
    font:var(--subtitle-17);
}
.product-description {
    color: var(--dark-color);
    font:var(--description-12);
}

.image-content {
    max-width: 134px;
    max-height: 134px;
    margin: 0 auto;
}

.main-boton {
    background:var(--green-color);
    font: var(--subtitle-17);
    width: 100%;
    padding: 10px;
    border: none;
    color:var(--white-color);
    border-bottom: 5px solid var(--green-dark-color);
    border-radius: 5px;
    transition: .2s;
}

.main-boton:hover {
    background:var(--green-dark-color); 
}

/******************
*ESTILOS CARACTERISTICAS*
*******************/
#features {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, 154px);
    justify-content: space-between;
    align-content: center;
    grid-gap: 16px;
    padding: 10% 16px; 
    height: auto;
}

.feature-image {
    margin: 0 auto;
    max-width: 120px;
    height: 110px;
}

.feature-image img {
  width: 100%;
  height: 110px;
} 

.feature-title { font: var(--subtitle-17); color: var(--dark-color); text-align: center; }
.feature-description { font: var(--description-12); color: var(--dark-color); text-align: justify; }

/******************
*ESTILOS MENCIONES*
*******************/

.mentions-title {
    font: var(--title);
    color: var(--dark-color);
    text-align: center;
}

.mentions-list {  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    grid-gap: 16px;
    padding: 16px;
    justify-content: center;
}

.mention {
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
}

.mention-image {
    margin: 0 auto;
    max-width: 100%;
}
.mention-image img { width: 100%; }

.mention-name {
    text-align: center;
    font: var(--subtitle-17);
    color: var(--dark-color);
    margin: 0 0 6px 0;
}

.mention-details { padding: 5px 10px; }
.mention-description {
    font: var(--description-12);
    color: var(--dark-color);
}


@media screen and (max-width: 600px) {
    #products {
        height: auto;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .product {
        height: auto;
        margin-top: 0;
        text-align: center;
    }
    .feature-image {
        height: auto;
    }

   .image-content img {
        width: 100%;
        height: 100%;
    }

}

@media screen and (max-width: 344px) {
    #menu ol {
        display: none;
    }

    #main-section {
        height: auto;
        padding: 16px;
    }
    #main-section .title {
        font-size: 17px;
    }

    #features {
        justify-content: center;
    }

}